body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background: rgb(24, 24, 24);
    width: 100%;
    height: 95px;
}

.navbar .logo {
    float: left;
    width: 60%;
    text-align: center;
}

.navbar .link {
    float: left;
    width: 40%;
    margin-top: 20px;
    /* margin-left: 400px; */
    position: absolute;
    left:45%;
    color: azure;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: azure;
}

a {
    text-decoration: none;
    color: rgb(222, 207, 207);
}

.navbar .link li {

    display: inline-block;
    padding: 10px 15px;
}

footer {
    background: rgb(27, 26, 25);
    position: absolute;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    height: 95px;
}

footer h2 {
    color: rgb(244, 233, 233);
    text-align: center;}